<h3>Last Updated:</h3>
<h4><%= @updated_at %></h4>

<button id="sync_button" class="dib pa2 bg-light-grey br3">
  <img src="<%= static_path(@conn, "/images/reload.svg") %>">
</button>

<%= component "spinner", class: "spinner dn" %>
