<div id="home"></div>
<h3>Last Updated:</h3>
<h4><%= @updated_at %></h4>

<button id="sync_button" class="dib pa2 bg-light-grey br3">
  <img src="/images/reload.svg">
</button>

<%= component "spinner", class: "spinner dn" %>
